# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.log

# Node & Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
.npm/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
